h2{
  position: relative;
  bottom: 30%;
  
}
.content{
  cursor: pointer;
}
@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
.fade-out {
  animation: fadeOut 0.5s ease-out forwards;
}

@media (max-width: 780px) {
  h2{
  font-size: 20px;
  }
 
    .content {
      width: 90%;
      
    }
}