<div class="dialog-close-button-container"(click)="closeDialog()">&#10094;</div>

<section class="section section1">
    <div class="content">
    </div>
</section>

<section appSlideFromBottom class="section section2">
    <div class="align-sub">
        <div class="items">
            <div class="item" *ngFor="let amenity of amenities">
                <img [src]="amenity.iconPath" [alt]="amenity.name">
                <p>{{ amenity.name }}</p>
            </div>
        </div>
    </div>
</section>
