
.content{
    height: calc(100vh - 170px);
    cursor: pointer;
    position: relative;
    background-image: url("../../assets/images/amenties.png");
    background-size: cover;
    overflow: hidden;
    &::before {
      position: absolute;
      z-index: 2;
      content: "";
      height: 100%;
      width: 100%;
      background: #0000007a;
    }
}
.dialog-close-button-container {
    position: absolute;
    top: 5%; /* Adjust as needed */
    left: 25%; /* Adjust as needed */
    z-index: 1050; /* Make sure it's above other content */
    cursor: pointer;
    font-size: 35px;
    color: white;
  }
.section{
    background-color: #F7F4ED;
}
.section1{
    padding-bottom: 100px;
}
.items{
    display: flex;
    flex-wrap: wrap;
    gap: 75px;
    justify-content: center;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Targeting specific items based on their position */
.items .item:nth-child(1),
.items .item:nth-child(4),
.items .item:nth-child(5),
.items .item:nth-child(7),
.items .item:nth-child(8) {
    line-height: 0;
}
.items .item:nth-child(8){
    position: relative;
    bottom: 20px;
}
.items .item:nth-child(10){
    position: relative;
    bottom: 10px;
}

  
@media only screen and (min-resolution: 130dpi) and (max-resolution: 144dpi){ 
img{
    width: 80%;
}

}

@media (max-width: 1350px) {
    .items{
        gap: 40px;
    }
    img{
        width: 60%;
    };
}
@media (max-width: 980px) {
    .dialog-close-button-container{
        top: 2%;
        left: 12%;
        font-size: 20px;
      }
    .section{
        height: auto;
        padding-bottom: 50px ;
    }
    .content {
        width: 90%;
        
      }
      img{
        width: 60%
      }
    .section1{
        padding-bottom: 50px;
    }
    .items{
        gap: 15px;
        
    }
    .items .item{
        width: 30%;
    }
    .items .item img {
        width: 80%; /* Adjust this value as needed */
        height: auto; /* Maintain aspect ratio */
    }
    .items .item p {
        font-size: 13px;
        text-align: -webkit-center;

    }
    .items .item:nth-child(1),
    .items .item:nth-child(4),
    .items .item:nth-child(5),
    .items .item:nth-child(7),
    .items .item:nth-child(8){
        position: relative;
        bottom: 0;
        line-height: normal;
    }

}
@media (max-width: 480px) {
    .content{
        height: calc(100vh - 250px);
    }

  }