.body {
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 2rem;
}

.head {
  text-align: center;
  margin-bottom: 2rem;
}

.contact-form {
  display: grid;
  gap: 1rem;
  padding: 2rem;
  border-radius: 8px;
}

.contact-form .form-group {
  display: flex;
  flex-direction: column;
}

.contact-form .form-group label {
  font-size: 0.9rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.contact-form .form-group input[type="text"],
.contact-form .form-group input[type="email"],
.contact-form .form-group input[type="tel"] {
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

.contact-form button {
  padding: 1rem;
  justify-self: center;
  border: none;
  width: 150px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1rem;
  transition: background-color 0.3s ease-in-out;
}

.contact-form button:hover {
  background-color: #555;
}

.contact-form button:disabled {
  background-color: #aaa;
}

.checkboxes {
  display: flex;
  flex-direction: row !important; /* Changed to column for better mobile layout */
  align-items: flex-start;
  margin: 15px 0;
  p{
    padding-right: 25px;
  }
}

.checkboxes label {
  display: block;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  padding-left: 30px;
  padding-right: 40px;
}

.checkboxes input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  z-index: -1;
}

.checkboxes label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border: 1px solid #ddd;
}

.checkboxes input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 9px;
  width: 6px;
  height: 11px;
  border: solid #2196F3;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

@media (max-width: 780px) {
  .contact-form {
    padding: 1rem;
    gap: 0;
  }

  .contact-form button {
    padding: 10px;
    width: 100px;
  }

  .contact-form .form-group {
    margin-bottom: 1rem;
  }

  .body {
    padding: 1rem;
  }

  .head {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .contact-form .form-group input[type="text"],
  .contact-form .form-group input[type="email"],
  .contact-form .form-group input[type="tel"] {
    padding: 5px;
  }

  .content {
    width: 90%;
  }
}
