<div class="content">
    <div class="body">
        <h2 class="head">FORMS</h2>
            <form
              class="contact-form"
              #contactForm="ngForm"
              (ngSubmit)="sendMessage($event)"
            >
              <div class="form-group">
                <label for="name">NAME</label>
                <input
                  type="text"
                  id="name"
                  name="user_name"
                  [(ngModel)]="user_name"
                  required
                />
              </div>
              <div class="form-group">
                <label for="email">EMAIL</label>
                <input
                  type="email"
                  id="email"
                  name="user_email"
                  [(ngModel)]="user_email"
                  required
                />
              </div>
              <div class="form-group">
                <label for="phone">MOBILE NO.</label>
                <input
                  type="tel"
                  id="phone"
                  name="user_phone"
                  [(ngModel)]="user_phone"
                  (input)="validateNumber($event)"
                />
              </div>
              <div class="form-group checkboxes">
                <p>I'M INTERESTED IN</p>
                <input type="checkbox" id="size_1200" name="size_1200" [(ngModel)]="size_1200">
                <label for="size_1200">1200</label>
              
                <input type="checkbox" id="size_1500" name="size_1500" [(ngModel)]="size_1500">
                <label for="size_1500">1500</label>
              
                <input type="checkbox" id="size_1800" name="size_1800" [(ngModel)]="size_1800">
                <label for="size_1800">1800</label>
              </div>
              
              
              <button type="submit" [disabled]="isSendingEmail">
                {{ isSendingEmail ? "Sending..." : "SUBMIT" }}
              </button>
            </form>
    </div>
</div>
