<div class="nav-arrow left-arrow2" >
    <img src="../../assets/icons/Vector4.svg" class="arrow" class="arrow" (click)="closeDialog()" alt="">
</div>

<div class="nav-arrow left-arrow" >
    <img src="../../assets/icons/Vector4.svg" class="arrow" (click)="scrollTo('prev')">
</div>

<div class="carousel carousel2" #carousel (scroll)="onScroll()">

    <div class="slide">

        <div class="content">
            <img src="../../assets/images/premium.svg" alt="">
        </div>
    </div>
    <div class="slide">
        <div class="content">
            <img src="../../assets/images/presidential.svg" alt="">
        </div>
    </div>
    <div class="slide">
        <div class="content">
            <img src="../../assets/images/millenium.svg" alt="">
        </div>
    </div>
    <div class="slide">
        <div class="content">
            <img src="../../assets/images/row-villa.svg" alt="">
        </div>
    </div>
</div>
<div class="nav-arrow right-arrow" >
    <img src="../../assets/icons/Vector5.svg" class="arrow" (click)="scrollTo('next')">
</div>
<div class="carousel-indicators">
    <span class="indicator" *ngFor="let slide of slides; let i = index" 
          [ngClass]="{'active': i === activeSlideIndex, 
                      'special-color-indicator': (i === activeSlideIndex) && (i === 1 || i === 2 || i === 3)}"
          (click)="goToSlide(i)"></span>
  </div>   
    
