<div class="dialog-close-button-container"(click)="closeDialog()">&#10094;</div>

<div class="nav-arrow left-arrow" (click)="scrollTo('prev')">&#10094;</div>
<div class="carousel carousel2" #carousel (scroll)="onScroll()">
    <div class="slide">
        <div class="content">
            <img src="../../assets/images/premium.svg" alt="">
        </div>
    </div>
    <div class="slide">
        <div class="content">
            <img src="../../assets/images/presidential.svg" alt="">
        </div>
    </div>
    <div class="slide">
        <div class="content">
            <img src="../../assets/images/millenium.svg" alt="">
        </div>
    </div>
    <div class="slide">
        <div class="content">
            <img src="../../assets/images/row-villa.svg" alt="">
        </div>
    </div>
</div>
<div class="nav-arrow right-arrow" (click)="scrollTo('next')">&#10095;</div>
<div class="carousel-indicators">
    <span class="indicator" *ngFor="let slide of slides; let i = index" 
          [ngClass]="{'active': i === activeSlideIndex, 
                      'special-color-indicator': (i === activeSlideIndex) && (i === 1 || i === 2 || i === 3)}"
          (click)="goToSlide(i)"></span>
  </div>   
    
