.slide {
    width: 20%; /* Example width, adjust as needed */
    scroll-snap-align: start;
  
    height: calc(100vh - 170px);
    min-width: 100vw;
    flex: 0 0 100%; // Ensure slides are full width but not more
   
    scroll-snap-stop: always;
    overflow: hidden;
    
  }
  .indicator.active {
    background-color: #1f1c1c; // Active color
  }
  
  .indicator.inactive {
    background-color: #bbb; // Inactive color
  }
  
  .carousel-indicators {
    text-align: center;
    position: relative;
    bottom: 75px !important;
    z-index: 10;
  }
  
  .indicator {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.6s ease;
  }

  .dialog-close-button-container {
    position: absolute;
    top: 5%; /* Adjust as needed */
    left: 25%; /* Adjust as needed */
    z-index: 1050; /* Make sure it's above other content */
    cursor: pointer;
    font-size: 35px;
  }
  img{
    width: inherit;
  }
  .carousel {
    display: flex;
    height: 100%;
    background-color: #F7F4ED;
    flex-direction: row;
    overflow-x: auto; /* Explicitly allow horizontal scrolling */
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth; /* Optional: for smoother scrolling */
  }
  .nav-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 2em;
    color: #fff; /* Adjust color as needed */
    z-index: 10;
    user-select: none;
  }
  
  .left-arrow {
    left: 30px;
    top: 50%;
    color: #434e50;
  }
  
  .right-arrow {
    right: 30px;
    top: 50%;
    color: #434e50;
  }

  @media (max-width: 980px) {
    .content {
      width: 90%;
      
    }
    .carousel-indicators{
      bottom: 100px !important;
    }
  }
  @media (max-width: 480px) {
    .dialog-close-button-container{
      top: 2%;
      left: 12%;
      font-size: 20px;
    }
    .right-arrow, .left-arrow{
      display: none;
    }
  //   .right-arrow {
  //     right: 15px;
  //     top: 44%;
  //     font-size: 25px;
  // }
  // .left-arrow{
  //   left: 15px;
  //   top: 44%;
  //   font-size: 25px;
  // }
  }