.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    
  }
  .c-name {
    word-spacing: 20px;
  }
  .header {
    width: 100%;
   
    position: relative;
    
  }
  
  .navbar-brand {
    .logo {
      color: white;
      text-decoration: none;
      font-size: 1.5rem;
      position: relative;
      display: flex;
      gap: 16px;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      span {
        color: #303031;
        font-weight: 600;
        letter-spacing: 2px;
        font-size: 24px;
      }
  
      
  
      img {
        width: 100%;
      }
    }
  }
  .navbar-item.active {
    color: #71a894 !important; /* Adjust this color to match your design for an active link */
    font-weight: bolder; /* Optional: makes active link bold */
  }
  
  .navbar-toggler {
    display: none;
    border: none;
    background: none;
    color: #303031;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .navbar-menu {
    display: flex;
    gap: 1rem;
  
    .navbar-item {
      color: #303031;
      position: relative;
      display: inline-block; /* Change to inline-block for alignment */
      padding: 10px 15px; /* Adjust padding as needed */
      text-decoration: none; /* Remove underline from links */
      transition: color 0.3s ease;
      padding-right: 10px;
      font-family: "Proxima";
      font-size: 22px;
    }
    .navbar-item::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px; /* Thickness of the underline */
      background-color: #259cb1; /* Color of the underline */
      transition: width 0.4s ease; /* Animation speed and easing */
    }
    .navbar-item:hover::after {
      width: 100%; /* Full width on hover */
    }
    .navbar-toggler:hover {
      position: relative;
      display: inline-block; /* Change to inline-block for alignment */
      padding: 10px 15px; /* Adjust padding as needed */
      text-decoration: none; /* Remove underline from links */
      color: #fff; /* Text color */
      transition: color 0.3s ease;
      color: #259cb1; /* Highlight color on hover for consistency */
    }
  }
  
  .navbar-close {
    position: absolute;
    top: 88%;
    right: 70%;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  @media (max-width: 780px) {
    .navbar-menu {
      position: fixed;
      top: 0;
      bottom: 0;
      right: -300px;
      width: 300px;
      background: #bdbdbd;
      overflow-y: auto; /* In case your menu is longer than the screen */
      transition: right 0.6s ease; /* Animate the left property */
      z-index: 1000; /* Ensure it's above other content */
  
      .navbar-item {
        margin-bottom: 0.5rem;
        color: white;
      }
    }
    .navbar-end {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-left: 20px;
      gap: 20px;
    }
  
    .navbar-menu.is-active {
      right: 0; /* Slide in to cover the left part of the screen */
    }
    .navbar {
      img {
        width: 250px !important;
      }
    }
  
    .navbar-toggler {
      display: block;
    }
  
    .navbar-close {
      display: block;
    }
    .header{
      padding: 0px;
    }
    .navbar{
      margin-bottom: 20px;
    }
    
  }

  @media (max-width: 1400px) {
    .header{
      padding: 0px;
    }
    .navbar{
      margin: 0px;
    }
  }