<!-- header.component.html -->
<header class="header">
  <div class="align1">
    <nav class="navbar">
      <div class="navbar-brand">
        <a class="logo" href="/">
          <img src="../../assets/images/header.svg" alt="" />
        </a>
      </div>
      <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="navbar-menu" [class.is-active]="navbarOpen">
        <div class="navbar-end">
          <a *ngFor="let item of navItems"
             class="navbar-item"
             (click)="emitSlideSelect(item.slideIndex); closeNavbar()">
            {{ item.name }}
          </a>
          <span *ngIf="navbarOpen"
                class="navbar-close"
                (click)="toggleNavbar()">
            <mat-icon>home</mat-icon>
            Back
          </span>
        </div>
      </div>
    </nav>
  </div>
</header>
