<footer class="footer">
    <div class="align">
      <div class="footer-content">
        <div class="footer-left">
          <a href="https://credvest.com/" target ="_blank">Copyright © 2022 Credvest. All Rights Reserved. </a>
        </div>
        <div class="footer-right">
          
            <a class="navbar-item" href="/privacy-policy" target ="_blank">Privacy Policy</a>
            <a class="navbar-item" href="/terms-of-use" target ="_blank">Terms of Use</a>
            <a class="navbar-item" href="/cookie-policy"target ="_blank">Cookie Policy</a>
            
          <!-- Place for additional content if needed, like social media icons -->
        </div>
      </div>
    </div>
  </footer>
