
 img{
  width: 500px;
  padding: 25px;
 } 
 .align {
  width: 90%;
}
.head {
  font-size: 36px;
  padding: 25px;
  text-align: center;
}
.carousel-indicators {
  bottom: 35px;
}
 .content{
  gap: 22px;
  overflow: hidden;
  max-width: 1300px !important;
 } 

 @media only screen and (min-resolution: 130dpi) and (max-resolution: 144dpi){  
  img{
    width: 400px;
  }
  .head{
    font-size: 30px;
   
  }
 } 
  
@media (max-width: 980px) {
  .content {
    width: 90%;
    
  }
  .head{
    font-size: 30px;
  }
  
    img {
      width: 350px ;
      
    }
  }
  
 

@media (max-width: 480px) {
  .head{
    font-size: 24px;
  }
  img{
    width: 75%;
  }.content{
    gap: 0;
  }
}


