.slide {
  width: 20%; /* Example width, adjust as needed */
  scroll-snap-align: start;

  height: calc(100vh - 170px);
  min-width: 100vw;
  flex: 0 0 100%; // Ensure slides are full width but not more
 
  scroll-snap-stop: always;
  overflow: hidden;
  
}
.landing{
  background-color: #F7F4ED;
}
.carousel {
  display: flex;
  height: 100%;
  flex-direction: row;
  overflow-x: auto; /* Explicitly allow horizontal scrolling */
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth; /* Optional: for smoother scrolling */
}

.indicator.active {
  background-color: #1f1c1c; // Active color
}

.indicator.inactive {
  background-color: #bbb; // Inactive color
}
.indicator.special-color-indicator {
  background-color: white; // Special color for slides 2 and 3
}

.carousel-indicators {
  text-align: center;
  position: relative;
  bottom: 50px;
  z-index: 10;
}

.indicator {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.6s ease;
}



@media (max-width: 1200px) {
  .slide1 {
    img {
      width: 550px;
    }
  }
  .content {
    width: 90%;
  }
}

@media (max-width: 780px) {
  .content {
    width: 90%;
    height: calc(100vh - 40vh);
  }
  .slide1 {
    img {
      width: 350px !important;
      padding: 15px;
    }
  }

  .align {
    width: 90%;
  }
  .head {
    font-size: 24px !important;
    padding: 15px;
  }
  .carousel-indicators {
    bottom: 35px;
  }
}

@media (max-width: 480px) {
.slide{
  height: calc(100vh - 250px);
}
}

