<!-- landing.component.html -->
<main class="landing">
  <div class="carousel" appScrollHorizontal #carousel>
    <div class="slide slide1">
      <div class="content">
        <img src="../../assets/images/Home.svg" alt="Home" />
        <h1 class="head">Come home to the carnival life</h1>
      </div>
    </div>
    <div class="slide slide2">
      <div class="content">
        <img src="../../assets/images/about.svg" alt="" />
        <div class="text-overlay">
          <h2>ABOUT DPE</h2>
          <p>
            Disha Habitat invites you to the world of Carnival Living. A
            township where joy and celebration knows no bounds. Situated at 
            Gunjur, Varthur, our luxurious township is moments away from top
            notch schools, offices, malls and more. From upgraded learning
            spaces for kids, or reflexology gardens for elders, Carnival Living
            has it all. Step into the thoughtfully designed spaces that curate a
            life of continued celebration for you and your loved ones! 
          </p>
        </div>
      </div>
    </div>
    <div class="slide slide3">
      <div class="content">
        <img src="../../assets/images/glance.svg" alt="" />
        <div class="text-overlay">
          <h2>AT A GLANCE</h2>
          <div class="text">
            <div class="left">
              <div class="top">
                <div class="sec">
                  <p class="num">80%</p>
                  <p class="txt">OPENSPACE</p>
                </div>
                <div class="sec">
                  <p class="num">80%</p>
                  <p class="txt">EFFICIENCY</p>
                </div>
              </div>
              <div class="btm">
                <div class="sec">
                  <p class="num">G+23</p>
                  <p class="txt">STRUCTURE</p>
                </div>
                <div class="sec">
                  <p class="num">VASTU</p>
                  <p class="txt">COMPLIANT</p>
                </div>
              </div>
            </div>
            <div class="right">
              <p>Project Size : 20 Acres</p>
              <p>Handover : 2027</p>
              <p>Type : 1/2/3/4 & 5 BHK Villas</p>
              <p>Super-Built Up Area : 691 2495s</p>
              <p>Total Units : 1200</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slide slide4">
      <div class="content">
        <h2>ABOUT DISHA HABITAT</h2>
        <div class="body">
          <div class="left">
            <img src="../../assets/images/disha.svg" alt="" />
          </div>
          <div class="right">
            <p>
              Being in business since 2014, Disha Habitat has been primarily
              operating in East Bengaluru. With four prior properties that have
              been fully sold out, we have built a resident community of 1000 plus
              members which is growing with each new project. We are one big
              family now. Close-knit and mindfully conscious.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="slide slide5">
      <div class="content"></div>
    </div>
    <div class="slide side6">
      <div class="content"></div>
    </div>
    <div class="slide slide7">
      <div class="content"></div>
    </div>
    <div class="slide slide8">
      <div class="content"></div>
    </div>
  </div>
  <div class="carousel-indicators">
    <span class="indicator active"></span>
    <!-- First indicator active by default -->
    <span class="indicator"></span>
    <span class="indicator"></span>
    <span class="indicator"></span>
    <span class="indicator"></span>
    <span class="indicator"></span>
    <span class="indicator"></span>
    <span class="indicator"></span>
  </div>
</main>
