.section1{
    .align{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #F2EDE1;
        border-radius: 20px;
    }
    .head{
        font-size: 36px;
        padding: 0px 20px;
    }

}
@media (max-width: 1400px) {
    .head{
        padding: 0px;
    }
}

@media (max-width: 1200px) {
    img{
        width: 550px;
    }
}


@media (max-width: 780px) {
    img{
        width: 350px;
    }
    .align{
        width: 90%;
    }
    .head{
        font-size: 24px !important;
    }
}