<main class="landing">
  <div class="carousel" >
    <div class="slide">
      <app-home-slide-1 />
    </div>
    <div class="slide">
      <app-home-slide-2 />

    </div>
    <div class="slide">
      <app-home-slide-3 />

    </div>
    <div class="slide">
      <app-home-slide-4 />

    </div>
    <div class="slide">
      <app-home-slide-5 />

    </div>
    <div class="slide">
      <app-home-slide-6 />

    </div>
    <div class="slide">
      <app-home-slide-7 />

    </div>
    <div class="slide">
      <app-home-slide-8 />

    </div>
    <div class="slide">
      <app-home-slide-9 />

    </div>

  </div>
</main>
