.section1{
    
    .align{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #F2EDE1;
        border-radius: 20px;
    
    }
    .head{
        font-size: 36px;
    }

}
