<div class="content">
        <h2>PROXIMITY MAP</h2>
        <div class="body">
          <div class="left">
            <!-- ... your other HTML code ... -->

            <div class="google-map">
              <iframe
                width="400"
                height="350"
                frameborder="0"
                style="border: 0"
                [src]="mapUrl"
                allowfullscreen
                loading="lazy"
              >
              </iframe>
            </div>

            <!-- ... rest of your HTML code ... -->
          </div>
          <div class="right">
        
          </div>
        </div>
      </div>
