.content {
  display: flex;
  justify-content: space-evenly;
}
h2 {
  width: 100%;
  display: flex;
  justify-content: center;
}
/* Add your styles here */
.body {
  width: 90%;
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr;
}

.accordion-item {
  border-bottom: 1px solid #eee; /* optional: for styling */
}

iframe {
  width: 100%;
  height: 100%;
  // additional styles if needed
}

.left {
 
  display: flex;
  justify-content: center;
  

  // ... rest of your styles ...
}
.right {
  width: 50%;
  display: flex;
  flex-direction: column;

  .info-toggle {
    cursor: pointer; /* Makes it clear the plus symbol is clickable */
    margin-left: 5px; /* Adjust as needed */
  }

  .info-wrapper {
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease-out; /* Smooth transition for the height */
  }

  .info-content {
    padding: 10px;
    /* Add other styles for your info content here */
  }

  /* This style will apply when the additional info is shown */
  .info-wrapper.show {
    height: auto; /* Adjust to the natural height of the content */
  }

  p {
    font-size: 20px;
    width: 100%;
    padding: 10px 0px;
  }
}