.content {
  position: relative;
  background-image: url("../../assets/images/about.svg");
  background-size: cover;
  overflow: hidden;
  &::before {
    position: absolute;
    z-index: 2;
    content: "";
    height: 100%;
    width: 100%;
    background: #0000007a;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}



.fade-out {
  animation: fadeOut 0.5s ease-out forwards;
}

.dialog-close-button-container {
  position: absolute;
  bottom: 5%; /* Adjust as needed */
  left: 50%; /* Adjust as needed */
  z-index: 1050; /* Make sure it's above other content */
  cursor: pointer;
  font-size: 35px;
  color: white;
  transform: rotate(90deg); /* Rotates the arrow to point downwards */
  /* Other styling properties */
}



.sec2 {
  display: flex;
  align-items: center;
  margin: 50px 0px;
  .left,
  .right {
    width: 50%;
  }
  img {
    width: 100%;
  }
}
.content :hover {
  cursor: pointer;
  /* or set a specific height */
}

img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.text-overlay {
  z-index: 4;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around; // changed from space-around for consistent alignment
  align-items: center;
  color: white; /* Choose text color that contrasts with your image */
  font-size: 20px; /* Adjust size as needed */
  /* Optionally add more styling here to customize the appearance */
  padding: 2em; // Added padding for aesthetics
  box-sizing: border-box; // Ensures padding does not affect width
  gap: 40px;
}
h2{
  font-size: 30px;
}
p {
  width: 75%;
  line-height: 35px;
  text-align: center;
}
.mobile-text{
  display: none;
}

@media only screen and (min-resolution: 130dpi) and (max-resolution: 144dpi){ 
h2{
  font-size: 26px;
}
p {
  font-size: 16px !important;
  line-height: 25px !important;
}
}

@media (min-width: 1000px) {
  @keyframes moveDown {
    to {
      transform: translateY(calc(50vh - 420px));
    }
  }
  .move-down {
    animation: moveDown 0.7s ease-out forwards;
  }
}
@media screen and (max-height: 1000px) {
  .dialog-close-button-container {
    bottom: 0;
 
  }
  p{
    line-height: 25px;
    font-size: 18px;
  }
  @keyframes moveDown {
    to {
      transform: translateY(18vh);
    }
  }
  .move-down {
    animation: moveDown 0.7s ease-out forwards;
  }
}
@media (max-width: 780px) {
  @keyframes moveDown {
    to {
      transform: translateY(20vh);
    }
  }
  .move-down {
    animation: moveDown 0.7s ease-out forwards;
  }

  h2 {
    font-size: 20px;
    position: relative;
    bottom: 15px;
  }
  .dialog-close-button-container {
    font-size: 20px;
  }
  p {
    font-size: 15px;
    line-height: 20px !important;
    width: 90%;
  }
  .text-overlay {
    padding: 1rem;
  }
  .desktop {
    display: none;
  }
  .mobile-text {
    display: block;
    line-height: 30px;
  }

    .content {
      width: 90%;
      
    }
}
