<div class="content">
    <h2>ABOUT DISHA HABITAT</h2>
    <div class="body">
      <div class="left">
        <img src="../../assets/images/disha.svg" alt="" />
      </div>
      <div class="right">
        <p>
          Being in business since 2014, Disha Habitat has been primarily
          operating in East Bengaluru. With four prior properties that have
          been fully sold out, we have built a resident community of 1000
          plus members which is growing with each new project. We are one
          big family now. Close-knit and mindfully conscious.
        </p>
      </div>
    </div>
  </div>
