.dialog-close-button-container {
  position: absolute;
  top: 5%; /* Adjust as needed */
  left: 25%; /* Adjust as needed */
  z-index: 1050; /* Make sure it's above other content */
  cursor: pointer;
  font-size: 35px;
}

.section{
  padding-bottom: 50px;
  background-color: #F7F4ED;
  height: 100vh;
}
.arrow{
  width: 35px !important;
  z-index: 5;
  cursor: pointer;
  position: relative;
  left: 25%;
  bottom: 38%;
}
.content{

    background-color: white;
    height: fit-content !important;
    
  }
img{
  width: 50%;
  height: 95%;
}
.body{
  padding-top: 10%;
  display: flex;
  width: 100%;

}
h2{
  margin-bottom: 20px;
}


.custom-list {
  counter-reset: item; // Initialize the counter
  list-style-type: none;
  padding-left: 0;
  width: 250px;
  margin-left: 26px;
  li {
    position: relative;
    color: #4a709d;
    padding-left: 30px; // Space for custom markers or numbers
    // margin-bottom: 10px;
    // Numbering for items 1 to 15
    &:nth-child(-n + 15)::before {
      content: counter(item); // Use the counter
      counter-increment: item; // Increment the counter
      position: absolute;
      left: 0;
      background-color: #4a709d;
      color: white;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px;
      border-radius: 30px;
      font-size: 14px;
    }
    &:nth-child(16)::before {
      content: url("../../assets/icons/star.svg"); // Path to your icon image
      position: absolute;
      left: 0;
      top: 0;
      background-color: transparent;
      width: 16px;
      height: 16px;
    }

    // Colored block for items after 15
    &:nth-child(n + 17):nth-child(-n + 21)::before {
      content: "";
      width: 18px;
      height: 10px;
      border: 1px solid black;
      // background-color: black;
      position: absolute;
      left: 0;
      top: 10px;
      transform: translateY(-50%);
    }
    &:nth-child(17)::before {
      background-color: #f2f2f2;
    }
    &:nth-child(18)::before {
      background-color: #e9d09a;
    }
    &:nth-child(19)::before {
      background-color: #cfbede;
    }
    &:nth-child(20)::before {
      background-color: #d6d6d8;
    }
    &:nth-child(21)::before {
      background-color: #717370;
    }
  }
}
.section1{
  .content{
  height: calc(100vh - 170px);
}}
.section2{
  .top-div, .bottom-div{
    display: flex;
    width: 90%;
    place-content: center;
    gap: 40px;
  }
  .align-sub{
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .tile {
    width: 40%;
    height: 300px;
    text-align: center;
    background-color: white;
    // box-shadow: 0px 0px 6px #e6e6e6;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and box-shadow */
    box-shadow: 0px 0px 6px #e6e6e6; /* Re-enabled box-shadow */
  }
  .tile1{
    background-color:#F2F2F3;
  }
  .tile2{
    background-color:#CFBEDD;
  }
  .tile3{
    background-color:#E9CE98;
  }
  .tile4{
    background-color:#D6D6D7;
  }
  .tile:hover {
    transform: scale(1.02); /* Increase size by 1.02 times */
    box-shadow: 0px 0px 12px #cccccc; /* Darker box-shadow on hover */
  }
  
  /* Hover state for .tile1 */
  .tile1:hover {
    background-color: darken(#F2F2F3, 10%); /* Adjust darkness as needed */
  }
  
  /* Hover state for .tile2 */
  .tile2:hover {
    background-color: darken(#CFBEDD, 10%); /* Adjust darkness as needed */
  }
  
  /* Hover state for .tile3 */
  .tile3:hover {
    background-color: darken(#E9CE98, 10%); /* Adjust darkness as needed */
  }
  
  /* Hover state for .tile4 */
  .tile4:hover {
    background-color: darken(#D6D6D7, 10%); /* Adjust darkness as needed */
  }
  .material-icons.bullet-icon {
    font-size: 10px; /* Smaller bullet icon */
    vertical-align: middle; /* Aligns icon with the middle of the text */
    margin-right: 8px; /* Space between the icon and text */
  }
  
}
@media only screen and (min-resolution: 130dpi) and (max-resolution: 144dpi){ 
  .section{
    height: 120vh;
  }
.content{
  display: block;
  height: 110vh !important;
}
.body{
  width: 90%;
}
.lists{
  padding-top: 12%;
}
img{
  position: relative;
  padding-top: 12%;
  width: 50%;
}
.section2{
  .tile {
    width: 35% !important;
    height: 205px !important;
    h3{
      font-size: 26px;
    }
}
}
}
@media (max-width: 1100px) {
 

  .lists{
    line-height: 23px;
    padding-top: 0;
  }
  .section2{
    .tile {
      width: 40%;
      height: 270px;
  }
}}
@media (max-width: 980px) {

  .section{
    height: auto;
  }
  .arrow{
    width: 20px !important;
  }
  .body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12%;
  }
 
  .content {

    display: flex; /* Use flexbox to layout image and list side by side */
    flex-direction: column; /* Stack them vertically on mobile */
    align-items: center; /* Center items horizontally */
    width: 90%;
  }

  img {
    width: 60%; /* Full width */
    align-self: center;
  }

  h2 {
    font-size: 18px; /* Adjust the font size as needed */
    width: 100%;
    text-align: center;
    padding: 0 10px; /* Add padding on the sides */
  }

  p {
    width: 90%;
    font-size: 12px; /* Adjust the paragraph font size as needed */
    line-height: 1; /* Adjust line height for readability */
    margin: 0 10px 10px; /* Add margin on the sides and more on the bottom */
  }
  
  .body {
    width: 100%; /* Set width to full to handle the flex child sizing correctly */
  }
  .lists{
    text-align: -webkit-center;
    width: 75%;
    
  }
  
  .custom-list {

  }

  .custom-list li {
    display: flex; /* Use flexbox for list item layout */
    align-items: center; /* Align the counter and text vertically */
    font-size: 12px; /* Smaller font size for mobile */
  }

  .section2{
    .align-sub{
      gap: 20px;
    }
    .tile {
      width: 160px;
      height: 190px;
      padding: 5px;
      text-align: unset;
      h3{
        font-size: 16px;
        text-align: center;
      }
      li{
        font-size: 12px;
      }
  }
  .top-div, .bottom-div{
    width: 100%;
    gap: 20px;
}
}}
@media (max-width: 480px) {
  .section{
    height: fit-content;
  }
  .content{
    justify-content: flex-start;
  
  }
  .lists{
    padding: 0;
    width: 95%;
  }

  .dialog-close-button-container{
    top: 2%;
    left: 12%;
    font-size: 20px;
  }
  .body{
    padding-top: 15%;
  }
}