/* container.component.css */
.page-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
  }
  
  app-landing, app-about-dpe {
    height: 100vh;
    scroll-snap-align: start;
  }
  
  .indicators {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .indicators span {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
  }
  
  .indicators .active {
    background-color: #717171;
  }
  