.content{
    background-color: white;
    cursor: pointer;
    overflow: auto;
    justify-content: flex-start;
  }
img{
  width: 50%;
}
@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.fade-out {
  animation: fadeOut 0.5s ease-out forwards;
}

.body{
  display: flex;
  align-items: flex-start;
}
.dialog-close-button-container {
  position: relative;
  z-index: 1050; /* Make sure it's above other content */
  cursor: pointer;
  font-size: 35px;
  top: 7%;
  transform: rotate(90deg); /* Rotates the arrow to point downwards */
  /* Other styling properties */
}

h2{
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  margin-top: 5%;
}
p{
  font-size: 18px;
}
.cus-li{
  width: 90%;
  margin: 0;
}
.custom-list {
  counter-reset: item; // Initialize the counter
  list-style-type: none;
  padding-left: 0;
  width: 250px;
  margin-left: 26px;
  li {
    position: relative;
    color: #4a709d;
    padding-left: 30px; // Space for custom markers or numbers
    // margin-bottom: 10px;
    // Numbering for items 1 to 15
    &:nth-child(-n + 15)::before {
      content: counter(item); // Use the counter
      counter-increment: item; // Increment the counter
      position: absolute;
      left: 0;
      background-color: #4a709d;
      color: white;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px;
      border-radius: 30px;
      font-size: 14px;
    }
    &:nth-child(16)::before {
      content: url("../../assets/icons/star.svg"); // Path to your icon image
      position: absolute;
      left: 0;
      top: 0;
      width: 16px;
      height: 16px;
    }

    // Colored block for items after 15
    &:nth-child(n + 17):nth-child(-n + 21)::before {
      content: "";
      width: 18px;
      height: 10px;
      border: 1px solid black;
      // background-color: black;
      position: absolute;
      left: 0;
      top: 10px;
      transform: translateY(-50%);
    }
    &:nth-child(17)::before {
      background-color: #f2f2f2;
    }
    &:nth-child(18)::before {
      background-color: #e9d09a;
    }
    &:nth-child(19)::before {
      background-color: #cfbede;
    }
    &:nth-child(20)::before {
      background-color: #d6d6d8;
    }
    &:nth-child(21)::before {
      background-color: #717370;
    }
  }
}

@media only screen and (min-resolution: 130dpi) and (max-resolution: 144dpi){ 
h2{
  font-size: 26px;
}
img{
  width: 45% !important;
}
}
@media (min-height: 1200px){
  .content{
    display: flex;
    justify-content: space-evenly;
  }
}
@media (max-width: 1200px) {
  .body{
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-height: 1000px) {
  img{
    width: 50%;
  }
  .lists{
    line-height: 25px;
  }
  .custom-list {
    // display: grid; /* Keep using grid for consistent alignment */
    // grid-template-columns: 1fr; /* Only one column */
    // gap: 10px 0; /* Adjust space between list items vertically */
    // width: 100%; /* Full width */
    // margin: 10px 0; /* Margin on top and bottom */
    // padding: 0; /* Remove padding */
    // list-style: none; /* Remove default list style */
    // counter-reset: item; /* Reset the list counter */
    // max-height: 300px; /* Fixed max height for the scrollable area */
    // overflow-y: auto; /* Add vertical scroll */
    
  }
  .dialog-close-button-container {
top: 3%;
  }
}

@media (max-width: 780px) {
  .dialog-close-button-container {
    top: 3%;
    font-size: 20px;
  }
  .lists{
    text-align: -webkit-center;
  }
  .content {
    overflow-y: auto;
    display: flex; /* Use flexbox to layout image and list side by side */
    flex-direction: column; /* Stack them vertically on mobile */
    align-items: center; /* Center items horizontally */
    width: 90%;
  }

  img {
    width: 60%; /* Full width */
    align-self: center;
  }

  h2 {
    font-size: 18px; /* Adjust the font size as needed */
    width: 100%;
    text-align: center;
    padding: 0 10px; /* Add padding on the sides */
  }

  p {
    width: 90%;
    font-size: 12px; /* Adjust the paragraph font size as needed */
    line-height: 1; /* Adjust line height for readability */
    margin: 0 10px 10px; /* Add margin on the sides and more on the bottom */
  }
  
  .body {
    width: 100%; /* Set width to full to handle the flex child sizing correctly */
  }
  
  .custom-list {
    display: grid; /* Keep using grid for consistent alignment */
    grid-template-columns: 1fr; /* Only one column */
    gap: 5px 0; /* Adjust space between list items vertically */
    width: 65%; /* Full width */
    margin: 10px 0; /* Margin on top and bottom */
    padding: 0; /* Remove padding */
    list-style: none; /* Remove default list style */
    counter-reset: item; /* Reset the list counter */
    max-height: 150px; /* Fixed max height for the scrollable area */
    overflow-y: auto; /* Add vertical scroll */
    
  }

  .custom-list li {
    display: flex; /* Use flexbox for list item layout */
    align-items: center; /* Align the counter and text vertically */
    font-size: 12px; /* Smaller font size for mobile */
  }

  .custom-list li::before {
    content: counter(item); /* Display the counter */
    counter-increment: item; /* Increment the counter */
    min-width: 16px; /* Adjust the width of the circle */
    height: 16px; /* Adjust the height of the circle */
    margin-right: 5px; /* Space between the circle and text */
    background-color: #4a709d; /* Background color of the circle */
    color: white; /* Color of the number */
    display: flex;
    align-items: center; /* Center the content vertically */
    justify-content: center; /* Center the content horizontally */
    border-radius: 50%; /* Round the corners for a circle shape */
    font-size: 10px; /* Smaller font size for the numbers */
    padding: 2px; /* Adjust padding as needed */
  }

  /* Additional icon adjustments... */
}
@media (max-width: 780px) {
  .dialog-close-button-container {
    top: 5%;
  }
}

