<section class="section privacy-policy">
    <div class="align-f">

      <h1 class="">PRIVACY POLICY</h1>
      <p class="">
        DPE is committed to protecting your privacy. This Privacy policy explains how your personal information is collected and used. 
      </p>
      <p class=" ">
        By accessing or using our services, you signify that you have read, understood, and agree to our collection, storage, use and disclosure of your personal information as described in this policy and our terms of service. 
      </p>
      <h3 class=" ">What information do we collect?</h3>
      <p class=" ">
        We collect information from you when you fill out the form on our website.
      </p>
      <ul>
        <li class= " ">Name</li>
        <li class= " ">Email</li>
        <li class= " ">Phone no</li>
      </ul>
      <h3 class=" ">How Do We Use The Information We Collect?</h3>
      <p class=" ">
        Any of the information we collect from you may be used in one of the
        following ways:
      </p>
      <ul>
        <li class= " ">
          To personalize your experience (your information helps us to better
          respond to your individual needs)
        </li>
        <li class= " ">
          To improve our website (we continually strive to improve our website
          offerings based on the information and feedback we receive from you)
        </li>
        <li class= " ">
          To improve customer service (your information helps us to more
          effectively respond to your customer service requests and support needs)
        </li>
        <li class= " ">To send periodic emails</li>
      </ul>
      <h3 class=" ">How Do We Use Your Email Address?</h3>
      <p class=" ">
        By submitting your email address on this website, you agree to receive emails from us. You can cancel your participation in any of these email lists at any time by clicking on the opt-out link or other unsubscribe option that is included in the respective email. We only send emails to people who have authorized us to contact them, either directly, or through a third party. We do not send unsolicited commercial emails, because we hate spam as much as you do. By submitting your email address, you also agree to allow us to use your email address for customer audience targeting on sites like Facebook, where we display custom advertising to specific people who have opted-in to receive communications from us.
      </p>
      <h3 class=" ">How Long Do We Keep Your Information?</h3>
      <p class=" ">
        We keep your information only so long as we need it to provide our services to you and fulfill the purposes described in this policy. This is also the case for anyone that we share your information with and who carries out services on our behalf. When we no longer need to use your information and there is no need for us to keep it to comply with our legal or regulatory obligations, we'll either remove it from our systems or depersonalize it so that we can't identify you.
      </p>
      <p class=" ">How Do We Protect Your Information?</p>
      <p class=" ">
        We implement a variety of security measures to maintain the safety of your
        personal information.
      </p>
      <h3 class=" ">Definitions and key terms:</h3>
      <p class=" ">
        To help explain things as clearly as possible in this Privacy Policy,
        every time any of these terms are referenced, are strictly defined as:
      </p>
      <ul clas>
        <li class= " ">
          Cookie: A small amount of data generated by a website and saved by your
          web browser. It is used to identify your browser, provide analytics, and
          remember information about you such as your language preference or login
          information.
        </li>
        <li class= " ">
            Company: When this policy mentions "Company," "we," "us," or "our," it refers to Disha Habitat, Pursuit of Elements Gunjur, Varthur, Bangalore that is responsible for your information under this Privacy Policy.
        </li>
        <li class= " ">
            Country: where Disha Habitat or the owners/founders of Disha Habitat are based, in this case, is India

        </li>
        <li class= " ">
            Customer: refers to the company, organization or person that signs up to use the Disha Habitat Service to manage the relationships with your consumers or service users.
        </li>
        <li class= " ">
            Device: Any internet-connected device such as a phone, tablet, computer or any other device that can be used to visit Disha Habitat and use the services.
        </li>
        <li class= " ">
            IP address: Every device connected to the Internet is assigned a number known as an Internet protocol (IP) address. These numbers are usually assigned in geographic blocks. An IP address can often be used to identify the location from which a device is connected to the Internet.
        </li>
        <li class= " ">
            Personnel: refers to those individuals who are employed by Disha Habitat or are under contract to perform a service on behalf of one of the parties.
        </li>
        <li class= " ">
            Personal Data: any information that directly, indirectly, or in connection with other information — including a personal identification number — allows for the identification or identifiability of a natural person.
        </li>
        <li class= " ">
            Service: refers to the service provided by Disha Habitat as described in the relative terms (if available) and on this platform.
        </li>
        <li class= " ">
            Third-party service: refers to advertisers, contest sponsors, promotional and marketing partners, and others who provide our content or whose products or services we think may interest you.
        </li>
        <li class= " ">Website: Disha Habitat, which can be accessed via this URL: https://investwithdisha.com/</li>
        <li class= " ">
            You: a person or entity that is registered with Disha Habitat to use the Services.
        </li>
      </ul>
      <h3 class=" ">Contact Us</h3>
      <p class=" ">Do get in touch if you have any questions.</p>
      <ul>
        <li class= " ">
          Via Email: crmdpe&#64;dishahabitat.com, salesdpe&#64;dishahabitat.com
        </li>
      </ul>
    </div>
  </section>
  
