
  <mdb-accordion>
          <mdb-accordion-item>
            <ng-template mdbAccordionItemHeader>SCHOOLS</ng-template>
            <ng-template mdbAccordionItemBody>
           <p>Foundation School : 1 min</p>
           <p>Deens Academy : 13 min</p>
           <p>The Prodigies International School : 12 min</p>
           <p>The International School Bangalore(TISB): 10 min</p>
           <p>Upcoming NPS Varthur (Admissions open from 2024: 6 min)</p>
            </ng-template>
          </mdb-accordion-item>
  
          <mdb-accordion-item>
            <ng-template mdbAccordionItemHeader>SHOPPING MALLS</ng-template>
            <ng-template mdbAccordionItemBody>
              Nexus Whitefield Mall : 3 km
            </ng-template>
          </mdb-accordion-item>
  
          <mdb-accordion-item>
            <ng-template mdbAccordionItemHeader>HOSPITAL</ng-template>
            <ng-template mdbAccordionItemBody>
              Manipal Hospital : 3.7 km
            </ng-template>
          </mdb-accordion-item>
  
          <mdb-accordion-item>
            <ng-template mdbAccordionItemHeader>SUPER MARKETS</ng-template>
            <ng-template mdbAccordionItemBody>
  
            </ng-template>
          </mdb-accordion-item>
  
          <mdb-accordion-item>
            <ng-template mdbAccordionItemHeader>CONNECTIVITIY</ng-template>
            <ng-template mdbAccordionItemBody>
  
            </ng-template>
          </mdb-accordion-item>
  
          <mdb-accordion-item>
            <ng-template mdbAccordionItemHeader>TECH PARK</ng-template>
            <ng-template mdbAccordionItemBody>
  
            </ng-template>
          </mdb-accordion-item>
        </mdb-accordion>