.body {
    display: flex;
    flex-direction: row;
    padding: 20px;
    position: relative;
    bottom: 10%;
    align-items: center;
  }
  .content {
    display: flex;
    justify-content: space-evenly;
  }
  .left {
    width: 40%;
    display: flex;
    justify-content: center;
  }
  .right {
    width: 60%;
    p {
      font-size: 20px;
      width: 75%;
    }
}
@media only screen and (min-resolution: 130dpi) and (max-resolution: 144dpi){ 
h2{
  font-size: 26px;
}
p{
  font-size: 16px !important;
}
img{
  width: 180px;
}
}
@media (max-width: 1030px) {
  .body{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .left, .right{
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
  @media screen and (max-height: 1000px) {
    p{
      line-height: 25px;
      font-size: 18px ;
    }
    .content {
      display: flex;
      justify-content: space-around !important;
    }
    
  }
@media (max-width: 780px) {
    .content {
      width: 90%;
      
    }
  h2{
    font-size: 20px !important;
    margin-top: 40px;
  }
  .left{
  img{
    width: 100px;
    margin-top: 50px;
  }
  
}
.right{
  p{
    font-size: 15px !important;
    width: 100%;
    line-height: 20px;
  }
}}