
  .overlay{
    height: 80%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    
  }
  .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 35px;
  }
  h2{
    display: flex;
    justify-content: center;
  }
  p {
    font-size: 20px;
    width: 75%;
  }
  @media screen and (max-height: 850px) {
  .text{
    line-height: 20px;
  }
  p{
    font-size: 16px;
  }
  }
  @media only screen and (min-resolution: 130dpi) and (max-resolution: 144dpi){ 
    h2{
      font-size: 26px;
    }
    p{
      margin-bottom: 5px;
    }
  }
  @media (max-width: 780px) {
    p{
      font-size: 13px;
      width: 90%;
      margin: 0;
    }
    .content {
      width: 90%;
      
    }
    .text{
      line-height: 16px;
    }
    h2{
      font-size: 20px;
      padding: 0px 70px;
      text-align: center;
     position: relative;
     bottom: 20px;
    }
}
   