

/* In your home-slide-sub.component.scss */

/* Add to your home-slide-sub.component.scss */
.dialog-close-button-container {
  position: absolute;
  top: 5%; /* Adjust as needed */
  left: 25%; /* Adjust as needed */
  z-index: 1050; /* Make sure it's above other content */
  cursor: pointer;
  font-size: 35px;
  color: white;
}
.arrow{
  width: 35px !important;
  z-index: 5;
  cursor: pointer;
  position: relative;
  left: 25%;
  bottom: 38%;
}


.align-sub{
  width: 65% !important;
}

.section{
  background-color: #F7F4ED;
}
.section2{
  padding: 50px 0px;
}
.section3, .section4{
  padding-bottom: 50px;
}
.section1 {
  h2 {
    font-size: 30px;
  }
  .text-overlay {
    z-index: 4;
    width: 100%;
    height: calc(100vh - 170px);
    display: flex;
    flex-direction: column;
    justify-content: space-around; // changed from space-around for consistent alignment
    align-items: center;
    color: white; /* Choose text color that contrasts with your image */
    font-size: 20px; /* Adjust size as needed */
    /* Optionally add more styling here to customize the appearance */
    padding: 2em; // Added padding for aesthetics
    box-sizing: border-box; // Ensures padding does not affect width
    gap: 40px;
  }
.content {
  background-image: url("../../assets/images/about.png");
  background-size: cover;
  overflow: hidden;
  position: relative; /* Ensure this container is positioned to act as the anchor for the absolutely positioned ::before */
}
.content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; /* These zero values stretch the ::before element to cover the entire .content area */
  background: rgba(0, 0, 0, 0.47); /* Use RGBA for a semi-transparent black overlay */
  z-index: 2; /* Ensure this is above the background image but below the content inside .content */
}
  img {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
}
.section2,
.section4 {
  img {
    width: 80%;
  }
  .left,
  .right {
    width: 50%;
  }
}

.section3 {
  display: flex;
  flex-direction: column;
  .content2{
    background-size: cover;
    overflow: hidden;
    position: relative;
    margin-bottom: 50px;
  }
  img {
    width: -webkit-fill-available !important;
    background-size: cover;
    overflow: hidden;
    position: relative;
  }
  .align-sub {
    display: flex;
    flex-direction: column;
  }
  h3 {
    margin-bottom: 15px;
  }
  h3,
  p {
    display: flex;
    justify-content: center;
    width: 80%;
  }
}

.section4{
  img{
    float: right;
  }
}
@media only screen and (min-resolution: 130dpi) and (max-resolution: 144dpi){ 
h2{
  font-size: 26px !important;
}

}

@media screen and (max-width: 1200px) {
  img{
    width: 60% !important;
  }
  .section2, .section4{
    .align-sub{
   width: 80%;
}}
}

@media (max-width: 980px) {
  .section{
    height: auto;
  }
  .content {
    width: 90%;
  }
  .arrow{
    width: 20px !important;
  }
  .align-sub{
    width: 90% !important;
  }
  .section1 {
    h2{
      font-size: 20px  !important;
    }
    
  
  .section3{
    p{
    width: 100%;
  }
}}

@media (max-width: 480px) {
  .text-overlay {
    height: calc(100vh - 250px) !important;

  }
  .section2,
  .section4 {
    img {
      margin-bottom: 20px;
      width: 70% !important;
    }
    .align-sub {
      display: flex;
      flex-direction: column;
    }
    .left,
    .right {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .dialog-close-button-container{
    top: 2%;
    left: 12%;
    font-size: 20px;
  }
}
}
