
    <!-- home-slide-sub.component.html -->
        
        <section class="section section1">
          <div class="content">
            <!-- Add this inside home-slide-sub.component.html -->

            <div class="text-overlay">
                <h2>ABOUT DPE</h2>
            </div>
          </div>
        </section>
        
        <section appSlideFromBottom class="section section2">
        <div class="align-sub">
            <div class="left">
            <img src="../../assets/images/fam.svg" alt="">
        </div>
            <div class="right">
                <h3>Discover Community Like Never Before</h3>
                <p>At Disha, we believe in creating spaces that are more than just living spaces; they are vibrant communities brimming with life and laughter. Here, we don't just build homes to sell; we craft ecosystems of joy and camaraderie. Imagine stepping into a realm where every day is an ode to celebration and connection, a place to experience joy and forge lasting relationships within a community that truly feels like home.</p>
            </div>
        </div>
        </section>
        
        <section appSlideFromBottom class="section section3">
            <div class="align-sub">
                <img src="../../assets/images/Rectangle 7.svg" alt="">
                <h3>AMENITIES</h3>
                <p>Prepare to be whisked away into a world where luxury meets convenience in perfect harmony. With over 80 meticulously curated amenities, life at Disha is an endless exploration of leisure and delight. Our sprawling clubhouse is a treasure trove of experiences, featuring specialized zones dedicated to nurturing your children’s talents, from dance to music and beyond. Whatever your heart desires, we've ensured that it's right at your fingertips. Because at Disha, we understand that life’s true essence is not just in living, but living well.</p>
            </div>
        </section>
        
        
        <section appSlideFromBottom class="section section4">
            <div class="align-sub">
                <div class="left">
                    <h3>NATURE</h3>
                    <p>Disha Habitat invites you to the world of Carnival Living. A township where joy and celebration knows no bounds. Situated at  Gunjur, Varthur, our luxurious township is moments away from top notch schools, offices, malls and more. From upgraded learning spaces for kids, or reflexology gardens for elders, Carnival Living has it all. Step into the thoughtfully designed spaces that curate a life of continued celebration for you and your loved ones! </p>
            </div>
                <div class="right">
                    <img src="../../assets/images/fam2.svg" alt="">
                </div>
            </div>
            </section>
        
    <!-- </div> -->
