
* {
  // animation: fadeInScale 1s ease-out forwards;
}

/* In your home-slide-sub.component.scss */

/* Add to your home-slide-sub.component.scss */
.dialog-close-button-container {
  position: absolute;
  top: 5%; /* Adjust as needed */
  left: 25%; /* Adjust as needed */
  z-index: 1050; /* Make sure it's above other content */
  cursor: pointer;
  font-size: 35px;
  color: white;
}




.section{
  background-color: #F7F4ED;
}
.section2{
  padding: 50px 0px;
}
.section3, .section4{
  padding-bottom: 50px;
}
.section1 {
  .text-overlay {
    z-index: 4;
    width: 100%;
    height: calc(100vh - 170px);
    display: flex;
    flex-direction: column;
    justify-content: space-around; // changed from space-around for consistent alignment
    align-items: center;
    color: white; /* Choose text color that contrasts with your image */
    font-size: 20px; /* Adjust size as needed */
    /* Optionally add more styling here to customize the appearance */
    padding: 2em; // Added padding for aesthetics
    box-sizing: border-box; // Ensures padding does not affect width
    gap: 40px;
  }
.content {
  background-image: url("../../assets/images/about.svg");
  background-size: cover;
  overflow: hidden;
  position: relative; /* Ensure this container is positioned to act as the anchor for the absolutely positioned ::before */
}
.content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; /* These zero values stretch the ::before element to cover the entire .content area */
  background: rgba(0, 0, 0, 0.47); /* Use RGBA for a semi-transparent black overlay */
  z-index: 2; /* Ensure this is above the background image but below the content inside .content */
}
  img {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
}
.section2,
.section4 {
  img {
    width: 80%;
  }
  .left,
  .right {
    width: 50%;
  }
}

.section3 {
  img {
    width: 100%;
    margin-bottom: 50px;
  }
  .align-sub {
    display: flex;
    flex-direction: column;
  }
  h3 {
    margin-bottom: 15px;
  }
  h3,
  p {
    display: flex;
    justify-content: center;
    width: 80%;
  }
}

.section4{
  img{
    float: right;
  }
}

@media screen and (max-height: 1000px) {
  img{
    width: 50% !important;
  }
  .section2, .section4{
    .align-sub{
   width: 80%;
}}
}

@media (max-width: 780px) {
  .content {
    width: 90%;
    
  }
  .section2,
  .section4 {
    img {
      margin-bottom: 20px;
      width: 70%;
    }
    .align-sub {
      display: flex;
      flex-direction: column;
    }
    .left,
    .right {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .section3{
    p{
    width: 100%;
  }
}}
