.terms-of-use{
    padding-top: 100px;

    .align-f{
        margin: auto;
        width: 80%;
    }

    h1{
        font-size: 2rem;
        margin-bottom: 20px;
    }
    p{
        font-size: 17px;
        margin-bottom: 20px;
        line-height: 28px;
    }
    h3{
        font-size: 1.4rem;
        margin-bottom: 10px;
    }
    ul{
        // margin-bottom: 20px;
        li{
            font-size: 17px;
            margin-left: 20px;
        }
    }
    button{
        background-color: #00705c;
        color: white;
        border: none;
        padding: 12px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        margin-bottom: 50px;
        cursor: pointer;
    }
    @media (max-width: 968px) {
        .align-f{
            width: 90% !important;
        }
    }
    @media (max-width:768px) {
        p{
            font-size: 17px;
        }
        ul{
            li{
                font-size: 17px;
            }
        }
    }
}