*{
  margin: 0;
  padding: 0;
  
}
:root { 
  --mdb-body-font-family: initial;
  --mdb-body-font-size: initial;
  --mdb-body-font-weight: initial;
  --mdb-body-line-height: initial;
  --mdb-body-color: initial !important;
  --mdb-body-bg: initial;
  --mdb-body-text-align: initial;
}

.content-full-screen-modal .mat-dialog-container {
  border-radius: 0 !important;
  padding: 0 !important;
  animation: none !important;
  transition: none !important;
}

body{
  font-family: "Bai Jamjuree" !important;
  background-color: #F7F4ED !important;
  overflow: hidden;

}
h1, h2{
  font-weight: 700 !important;
}
.landing {
  height: 100%;
  width: 100%;
}
.carousel {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 65vh;
  overflow: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* For Internet Explorer 10+ */
  scrollbar-width: none; /* For Firefox */
}

.carousel::-webkit-scrollbar {
  display: none; /* For Webkit browsers */
}

.content {
  max-width: 1300px !important;
  background-color: #f2ede1;
  height: 100%;
  width: 90%;
  margin: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Bai Jamjuree";
}

.slide7{
  .accordion-item {
    background: transparent !important;
    border: 0;
    width: 175%;
  }
 .accordion-button {
    background-color: transparent !important;
  }
}

.indicator.active {
  background-color: #666; /* Highlight the active indicator */
}
.align {
  width: 75%;
  height: 720px;
  display: flex;
  max-width: 1300px !important;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  max-height: 800px !important;
}
.align-sub {
  width: 90%;
  display: flex;
  max-width: 1300px !important;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.align1 {
  width: 90%;
  display: flex;
  max-width: 1800px !important;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.mat-mdc-dialog-container .mdc-dialog__surface {
  transition: unset !important;
  &::-webkit-scrollbar {
    display: none !important; /* Hide scrollbar for Chrome, Safari, and Opera */
}

}
.mat-mdc-dialog-container .mdc-dialog__container {
  transition: unset !important;
}


@media (max-height: 1000px) {
  .indicator{
    height: 7px !important;
    width: 7px !important;
  }
  .carousel-indicators{
    bottom: 40px !important;
  }
  .accordion-button {
    padding: 10px !important;
  }
}

@media screen and (max-height: 850px) {
  .content {
    width: 65%;
   /* Example height for laptops */
  }
  .slide2, .slide3{
    img{
      width: auto ;
    }
  }
}

@media (max-width: 780px) {
  .align {
    height: 475px;
  }
  .accordion-button {
    padding: 5px !important;
  }
  .slide7{
  .accordion-body{
    padding: 10px 20px;
  }}

}
@import '@fortawesome/fontawesome-free/css/all.css';
@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';
@import '@angular/material/prebuilt-themes/indigo-pink.css';

