*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Bai Jamjuree";

}
h1{
  font-weight: 700;
}
.landing {
  height: 100%;
  width: 100%;
}
.carousel {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 65vh;
  overflow: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* For Internet Explorer 10+ */
  scrollbar-width: none; /* For Firefox */
}

.carousel::-webkit-scrollbar {
  display: none; /* For Webkit browsers */
}

.content {
  max-width: 1300px !important;
  background-color: #f2ede1;
  height: -webkit-fill-available;
  width: 90%;
  margin: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}



.indicator.active {
  background-color: #666; /* Highlight the active indicator */
}
.align {
  width: 75%;
  height: 720px;
  display: flex;
  max-width: 1300px !important;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  max-height: 800px !important;
}
.section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.align1 {
  width: 90%;
  display: flex;
  max-width: 1800px !important;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

@media screen and (max-height: 850px) {
  .content {
   /* Example height for laptops */
  }
  .slide2, .slide3{
    img{
      width: auto ;
    }
  }
}

@media (max-width: 780px) {
  .align {
    height: 475px;
  }
}
