.content{
    background-image: url("../../assets/images/glance.png");
    background-size: cover;
    &::before{
        position: absolute;
      z-index: 2;
      content: "";
      height: 100%;
      width: 100%;
      background: rgb(0 0 0 / 60%);
    }
    }
  .text-overlay {
    z-index: 3;
    height: 100%;
    justify-content: space-around;
  }
  h2{
    margin-bottom: 20px;
  }
  p {
    line-height: 60px;
  }

  .text {
    display: flex;
    width: 100%;
    .left,
    .right {
      width: 50%;
    }
  }
  .content {
    position: relative;
    overflow: hidden;
     /* or set a specific height */
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }

  .text-overlay {
    position: relative;
    top: 5%;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; // changed from space-around for consistent alignment
    align-items: center;
    color: white; /* Choose text color that contrasts with your image */
    font-size: 20px; /* Adjust size as needed */
    /* Optionally add more styling here to customize the appearance */
    padding: 2em; // Added padding for aesthetics
    box-sizing: border-box; // Ensures padding does not affect width
  }
 
  p {
    width: 75%;
    line-height: 35px;
  }
  .left {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .top,
    .btm {
      display: flex;
      flex-direction: row;
      margin: 20px;
    }
    .top {
      gap: 35px;
    }
    .sec {
      margin: 20px;
      display: flex;
      flex-direction: column;
      
    }
    .num {
      font-size: 64px;
      font-weight: 700;
      
     
    }
    .txt {
      font-size: 24px;
      line-height: 75px;
    }
    .btm{
      gap: 20px;
      .txt{
      align-self: center;
    }
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
      font-size: 24px;
    }
  }

  @media only screen and (min-resolution: 130dpi) and (max-resolution: 144dpi){ 
    p{
      line-height: 20px;
    }
    .top,
    .btm{
      p{
        margin-bottom: 0 !important;
      }
    }
    .text-overlay {
      top: 0;
    }
    h2{
      font-size: 26px;
    }
    .left{
      .num{
        font-size: 40px !important;
        margin-bottom: 0;
      }
  }
  }
  @media screen and (max-height: 1000px) {
    .left{
      .num{
        font-size: 48px;
        margin-bottom: 0;
      }
      .sec{
        margin: 10px 20px !important;
      }
      .txt{
        font-size: 20px;
      }
      .top, .btm{
        margin: 0;
      }
    }
    .right{
      p{
        font-size: 20px;
      }
    }
  }

  @media (max-width: 1030px)
  {
    .left, .right{
      width: 100% !important;
    }
    .text{
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      .right{
        p{
          width: 100%;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
  @media (max-width: 980px) {
    .text-overlay{
      padding: 10px;
    }
      .content {
        width: 90%;
        
      }
    
    h2{
      font-size: 20px;
    }
 
    .left{
      .top, .btm{
        gap: 20px;
        margin: 0;
        .sec{
          margin: 10px;
        }
      }
      .num {
        font-size: 30px;
        align-self: center;
        margin-bottom: 10px;
      }
      .txt {
        font-size: 20px;
        line-height: 40px;
        margin-bottom: 10px;
      }
    }
    .right{
      p{
        font-size: 16px;
        line-height: 15px;
        margin-bottom: 5px;
      }
    }
    
  }
  @media (max-width: 780px) {
    .text-overlay{
      position: relative;
      top: 15px;
    }
    .left{
      .top, .btm{
        .sec{
          margin: 5px 20px !important;
        }}
        }
  }
