<div class="content">
    <!-- <img src="../../assets/images/glance.svg" alt="" /> -->
    <div class="text-overlay">
      <h2>AT A GLANCE</h2>
      <div class="text">
        <div class="left">
          <div class="top">
            <div class="sec">
              <p class="num">80%</p>
              <p class="txt">OPENSPACE</p>
            </div>
            <div class="sec">
              <p class="num">80%</p>
              <p class="txt">EFFICIENCY</p>
            </div>
          </div>
          <div class="btm">
            <div class="sec">
              <p class="num">G+23</p>
              <p class="txt">STRUCTURE</p>
            </div>
            <div class="sec">
              <p class="num">VASTU</p>
              <p class="txt">COMPLIANT</p>
            </div>
          </div>
        </div>
        <div class="right">
          <p>Project Size : 20 Acres</p>
          <p>Handover : 2027</p>
          <p>Type : 1/2/3/4 & 5 BHK Villas</p>
          <p>Super-Built Up Area : 691 2495s</p>
          <p>Total Units : 1200</p>
        </div>
      </div>
    </div>
  </div>
